In [60]:
# while loop
# print 5 table upto 3 times using while 
# Here a is table name b is from 1 to 3
a=5
i=1
while i <= 3:
    print("%d * %d = %d" %(a,i,a*i))
    i+=1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15

In [61]:
#print table 15 from 10 times using range and for loop
#Initialize a variable with the Table value 15
# renage function used to take the range of table to print

a=15
for i in range(1,6):
    print("%d * %d = %d"  %(a,i,a*i))

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75

In [62]:
# Write any multiplication tables with the user input.
# Print upto 10 times

input_number = int(input("Enter your prefered table number:"))
print("Multiplication Table of:",input_number)
for i in range(1,11):
    print(input_number, "X", i ,"=", input_number*i)

Enter your prefered table number:8
Multiplication Table of: 8
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80

In [1]:
# Take table number and the table limit from the user and print multiplication table
# Take table value from user
num = int(input("Enter Multiplication Table Number:"))
limit = int(input("Enter a number how many times you want:"))

# insted of "%d * %d = %d"  we can use this format  '{:2}*{:2}={:2}' - it means '{:2d}*{:2}={:2}' 
# can increase spaces accordingly - play arround spaces.
for limit in range(1,limit+1):
    print('{:2} * {:2} = {:2}'.format(num, limit, num*limit))

Enter Multiplication Table Number:17
Enter a number how many times you want:3
17 *  1 = 17
17 *  2 = 34
17 *  3 = 51

In [18]:
# with out new line use semicoloun using end
a=15
for i in range(1,11):
    print("%d * %d = %d"  %(a,i,a*i),end="  ;  ")

15 * 1 = 15  ;  15 * 2 = 30  ;  15 * 3 = 45  ;  15 * 4 = 60  ;  15 * 5 = 75  ;  15 * 6 = 90  ;  15 * 7 = 105  ;  15 * 8 = 120  ;  15 * 9 = 135  ;  15 * 10 = 150  ;

In [47]:
# 2d multiplication tables upto 9 *9=81
for i in range(1, 10):
    #print("i =", i, ":", end=" ")
    for j in range(1, 10):
        print("{:2d}".format(i * j), end=" ") 
    print()

 1  2  3  4  5  6  7  8  9
 2  4  6  8 10 12 14 16 18
 3  6  9 12 15 18 21 24 27
 4  8 12 16 20 24 28 32 36
 5 10 15 20 25 30 35 40 45
 6 12 18 24 30 36 42 48 54
 7 14 21 28 35 42 49 56 63
 8 16 24 32 40 48 56 64 72
 9 18 27 36 45 54 63 72 81

In [2]:
# 2d multiplication tables upto 9 *9=81
for i in range(1, 10):
    print("i =", i, ":", end=" ")
    for j in range(1, 10):
        print("{:2d}".format(i * j), end=" ") 
    print()

i = 1 :  1  2  3  4  5  6  7  8  9
i = 2 :  2  4  6  8 10 12 14 16 18
i = 3 :  3  6  9 12 15 18 21 24 27
i = 4 :  4  8 12 16 20 24 28 32 36
i = 5 :  5 10 15 20 25 30 35 40 45
i = 6 :  6 12 18 24 30 36 42 48 54
i = 7 :  7 14 21 28 35 42 49 56 63
i = 8 :  8 16 24 32 40 48 56 64 72
i = 9 :  9 18 27 36 45 54 63 72 81

In [ ]:
Keep Enjoy learning loops :)