# Learn Nested Forloops

In [ ]:
# Nested For Loops - Loops can be iterate in python
# A nested loop with in a loop that occur within another loop.
# syntax:
# for (first iterable variable) in (outer loop):
#     [statements]
#     for (second iterable variable) in (nested loop):
#         [statements]
#

In [ ]:
 # Exercise 1: Write question words 3 times using nested loops

In [3]:
# Write question words 3 times

serial_number = [1,2,3]
weekday = ['What','When','Why']
for i in serial_number: #Outer Loop
    print(i)
    for j in weekday:   #Nested Loop / Inner Loop
        print(j)

1
What
When
Why
2
What
When
Why
3
What
When
Why

In [ ]:
# Nested for loops can be useful for iterating through items 
# with in list composed of lists.In list composed of lists ,
# if we employ just one for loop ,the program will output each internal list as and iten

In [ ]:
Exercise 2 : Use single for loop to access each list

In [5]:
 
list = [['Lion','Deer','Sheep'],['Cub','Fawn','Lamb']] # List with in the list
for i in list: 
    print(i)

['Lion', 'Deer', 'Sheep']
['Cub', 'Fawn', 'Lamb']

In [ ]:
# Exercise 3 : Using Nested for loop access each individual element from list with in the list

In [6]:

list = [['Lion','Deer','Sheep'],['Cub','Fawn','Lamb']] # List with in the list
for i in list:
    for j in i:
        print(j)

Lion
Deer
Sheep
Cub
Fawn
Lamb

In [ ]:
# Exercise 4 : Multiply with place values[10's,100's] to the given lists

In [15]:
list=[[1,2],[3,4]]
m = 1
print(list)
for i in range(0,2):
    m *= 10
    for j in range(0,2):
        list[i][j] *= m
print(list)

[[1, 2], [3, 4]]
[[10, 20], [300, 400]]

In [ ]:
Exercise 5: print the fallowing output
1
2 2
3 3 3
4 4 4 4

In [18]:
for i in range(1,5):
    for j in range(i):
        print(i,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4

In [ ]:
# Exercise 6: Skip overls to print from the sentence 'Python Logics For Kids'

In [27]:
for i in 'Python Logics For Kids':
    if i == 'a' or i == 'e' or i== 'i' or i == 'o' or i == 'u':
        continue
    print(i,end = '')

Pythn Lgcs Fr Kds

In [ ]:
#  Exercise 7 :  Print the * pattern using nested for loops
# * 
# * * 
# * * * 
# * * * * 
# * * * * * 
# * * * * 
# * * * 
# * * 
# *

In [30]:
# Initialize the first five rows
n = int(input("Enter value to print starts sequence:"))

# Start the loop to print the first five rows
for i in range(n):
    for j in range(i):
        print('* ', end="")
    print('')

#  Decreasing order of stars from the middle
for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

Enter value to print starts sequence:5

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
#  Exercise 8 : Print given pattern - print single star at first row 2 stars in the second row and continue
#     doing this in a similar fashion
# *
# **
# ***
# ****

In [10]:
for i in range(0,4):
    for j in range(0,i+1):
        print("*",end=' ')
    print()

*
* *
* * *
* * * *

In [ ]:
#  Exercise 9 :Print odd number patterns
# * 
# ***
# *****
# *******

In [9]:
k = 1
for i in range(0,5):
    for j in range(0,k):
        print("*",end=' ')
    k= k+2
    print()

*
* * *
* * * * *
* * * * * * *
* * * * * * * * *

In [ ]:
#  Exercise 10 : Print Alpabets
# A 
# B C 
# D E F 
# G H I J 
# K L M N O

In [11]:
val = 65
for i in range(0,5):
    for j in range(0,i+1):
        ch = chr(val)
        print(ch,end=" ")
        val = val+1
    print()

A
B C
D E F
G H I J
K L M N O

In [ ]:
#  Exercise 11 : Print A one time B two times ...
# A 
# B B 
# C C C 
# D D D D 
# E E E E E

In [19]:
val = 65
for i in range(0,5):
    for j in range(0,i+1):
        ch = chr(val)
        print(ch,end=" ")
    val = val+1
    print()

A
B B
C C C
D D D D
E E E E E

In [ ]:
# Exercise 11 : Print your name in 3 rows and 5 columns

In [15]:
name=input("what is your name: ")
for x in range(5):                   # 5 rows   
    for x in range(3):               # 3 columns
        print(name+" ",end=" ")
    print()

what is your name: techies
techies  techies  techies
techies  techies  techies
techies  techies  techies
techies  techies  techies
techies  techies  techies